<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Shifts</h1>
  <h2><a href="/"><button>Back</button></a>
<h2><button>Add More</button></h2>
  <ul>
 
      <!--appointments! -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} Appointments? {% endblock %}</h1>

{% endblock %}



{% block content %}

<table class="table is-bordered is-fullwidth">
	

 <tbody>

 	<tr>
<th >Patient Number</th>
<th >Physician Number</th>
<th>Facility</th>
<th >Time</th>	
<th>Type</th>


 	</tr>
<tr>
	<td> Patient Number(with name)</td>
	<td>Physician Name(with name)</td>
	<td>Facility</td>
	<td>Time</td>
	<td>Type</td>
</tr>
</tbody>

</table>
{% endblock %}