<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>In-Patient</h1>
 <h2><a href="{{ url_for('mainpg') }}"><button>Back</button></a>
<a href="{{ url_for('schedule.addStay') }}"><button>Add More</button></a></h2>
  <ul>
 
      <!--In Patient! -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} In-Patient {% endblock %}</h1>

{% endblock %}



{% block content %}

<table class="table is-bordered is-fullwidth">
	

 <tbody>

 	<tr>
<th >Stay No.</th>
	<th >Patient</th>	
	<th>Facility</th>
	<th >Unit</th>
	<th >Wing</th>	
	<th>Room/Bed</th>
	<th>Admission</th>
	<th>CheckOut</th>
	<th>Physician</th>
<th>Nurse</th>
<th>Actions</th>


 	</tr>
{% for item in stay%}
<tr>
	
	<td class="stayno">{{item['StayNo']}}</td>
	<td class="patient">{{item['PatientNo']}}({{item['patientLast']}},{{item['patientFirst']}})</td>
	<td class="facility">{{item['Clinic']}} </td>
	<td class="unit">{{item['Unit']}}</td>
	<td class="wing">{{item['Wing']}}</td>
	<td class="room">{{item['Bed']}} </td>

	<td class="admission">{{item['AdmissionDate']}}</td>
	<td class="checkout">?????</td>

	<td class="physician">{{item['Physician']}}({{item['staffLast']}},{{item['staffFirst']}})</td>

	<td class="nurse">{{item['Nurse']}} </td>

	{% if item['Physician'] != None %}
   	<td><a href="{{ url_for('people.seeStaff',id=item['Physician'])}}">{{item['Physician']}}</a></td>
    {% else %}
    	<td><a href="{{ url_for('people.seeStaff',id=item['Nurse'])}}">{{item['Nurse']}}</a></td>
{% endif %}


<td><a href="{{ url_for('schedule.updateStay',id=item['Physician'])}}"><button class="button is-large">Edit Physician</button></a></td>


</tr>

{% endfor %}
</tbody>

</table>
{% endblock %}

