<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>In-Patient</h1>
 <h2><a href="{{ url_for('mainpg') }}"><button>Back</button></a>
<a href="{{ url_for('schedule.addStay') }}"><button>Add More</button></a></h2>
  <ul>
 
      <!--In Patient! -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} In-Patient {% endblock %}</h1>

{% endblock %}



{% block content %}

<table class="table is-bordered is-fullwidth">
	

 <tbody>

 	<tr>
<th >Stay No.</th>
	<th >Patient</th>	
		<th>Admission</th>

<th>Physician</th>
<th>Nurse</th>

<th>Actions</th>


 	</tr>
{% for item in stay%}

<tr>
	
	<td class="stayno">{{item['StayNo']}}</td>
	<td class="patient">{{item['PatientNo']}}({{item['patientLast']}},{{item['patientFirst']}})</td>

	<td class="admission">{{item['AdmissionDate']}}</td>
	

	<td class="physician">{{item['Physician']}}</td>

	<td class="nurse">{{item['Nurse']}} </td>

<td><a href="{{ url_for('schedule.updateStaff',id=item['StayNo'])}}">Edit Physician</a>|<a href="{{ url_for('schedule.updateNurse',id=item['StayNo'])}}">Edit Nurse</a>
</tr>

{% endfor %}

</tbody>

</table>



<section class="section">
  <h1 class="title">Occupied Rooms</h1>
    <table class="table is-bordered is-narrow">
     <tbody>
  <tr>
  <th >Stay No.</th>
	<th>Facility</th>
	<th >Unit</th>
	<th >Wing</th>	
	<th>Room</th>
	<th>Bed</th>
	<th>Code</th>
	<th>Actions</th>

</tr>

{% for item2 in room%}
<tr>
	<td class="stayno">{{item2['StayNo']}}</td>
	<td class="facility">{{item2['Clinic']}} </td>
	<td class="unit">{{item2['NurseUnit']}}</td>
	<td class="wing">{{item2['Wing']}}</td>
	<td class="room">{{item2['RoomNo']}} </td>
  <td class="room">{{item2['Bed']}} </td>
  <td class="room">{{item2['Code']}} </td>
<td><a href="{{ url_for('schedule.updateBed',id=item2['Code'])}}">Edit Bed</a></td>

</tr>

{% endfor %}
</tbody>

   </table>
</section>

{% endblock %}

