<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Surgeries</h1>
  <h2><a href="/"><button>Back</button></a>
<h2><button>Add More</button></h2>
  <ul>
 
      <!--Surgeries! -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} Surgeries {% endblock %}</h1>

{% endblock %}



{% block content %}

<table class="table is-bordered is-fullwidth">
	

 <tbody>

 	<tr>
<th >Employee Number</th>
	<th >Shift Start</th>	
	<th>Shift End</th>


 	</tr>
<tr>
	<td> Employee Number First Name Last Name</td>
	<td>Shift Start</td>
	<td>Shift End</td>
</tr>
</tbody>

</table>
{% endblock %}