<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Surgeries</h1>
  <h2><a href="{{ url_for('mainpg') }}"><button>Back</button></a>
<a href="{{ url_for('schedule.addSurgery') }}"><button>Add More</button></a></h2>
  <ul>
 
      <!--Surgeries! -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} Surgeries {% endblock %}</h1>

{% endblock %}


{% block content %}

<table class="table is-bordered is-fullwidth">
	

 <tbody>

 	<tr>
<th >Surgery Number</th>
<th >Patient</th>
<th >Surgeon</th>
<th>Operating Theatre</th>
<th>Type</th>
<th >Time</th>	

 	</tr>
 {% for item in surgery%}
<tr>
	
	<td class="surgeryno">{{item.SurgeryNo}}</td>
	<td class="patientno">{{item.PatientNo}}({{item['patientLast']}},{{item['patientFirst']}})</td>
	<td class="physician">{{item.Surgeon}}</td>
	<td class="facility">{{item.OpTheatre}}({{item['clinic']}}-{{item['Theatre']}})</td>
	<td class="type">{{item.SurgType}}</td>
	<td class="time">{{item.SurgeryTime}} </td>
</tr>

{% endfor %}

</tbody>


</table>


<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  <label for="Filter By Surgeon Name">Filter By Surgeon Name</label>
  <option value="Choose One!">Choose One</option>
   {% for item in surgeon%}
  <option value="{{ url_for('schedule.surgeonFiltering',filter='ByName',id=item['EmpNo'])}}">{{item['Lname']}},{{item['Fname']}}</option>
  {% endfor %}
</select>

<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  <label for="Filter By OpTheatre">Filter By OpTheatre</label>
  <option value="Choose One!">Choose One</option>
   {% for item in place%}
  <option value="{{ url_for('schedule.theatreFiltering',filter='ByPlace',id=item['Code'])}}">{{item['Code']}}</option>
  {% endfor %}
</select>


<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
   <label for="Filter By Date">Filter By Date</label>
   <option value="Choose A Month">Choose a Month</option>
  	{%for i in range(13)%}
  	{%if i!=0 %}
       <option value="{{ url_for('schedule.surgeonMonthFiltering',filter='ByMonth',month=i)}}">{{i}}</option>
     {%endif%}
    {%endfor%}
</select>


{% endblock %}