<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Surgeries</h1>
  <h2><a href="{{ url_for('mainpg') }}"><button>Back</button></a>
<h2><button>Add More</button></h2>
  <ul>
 
      <!--Surgeries! -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} Surgeries {% endblock %}</h1>

{% endblock %}


{% block content %}

<table class="table is-bordered is-fullwidth">
	

 <tbody>

 	<tr>
<th >Surgery Number</th>
<th >Patient</th>
<th >Surgeon</th>
<th>Facility</th>
<th>Type</th>
<th >Time</th>	

 	</tr>
 {% for item in surgery%}
<tr>
	
	<td class="surgeryno">{{item['SurgeryNo']}}</td>
	<td class="patientno">{{item['PatientNo']}}({{item['patientLast']}},{{item['patientFirst']}})</td>
	<td class="physician">{{item['Surgeon']}}({{item['docLast']}},{{item['docFirst']}})</td>
	<td class="facility">{{item['clinic']}} </td>
	<td class="type">{{item['surgName']}}</td>
	<td class="time">{{item['SurgeryTime']}} </td>
</tr>

{% endfor %}

</tbody>


</table>

{% endblock %}