
<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
		<section class="hero is-small is-primary">
  <div class="hero-body" >
    <p class="title has-text-black">
      Newark Medical </p>  
      Current Staff

  </div>
</section>

  <h1>Staff Management</h1>
  <h2><a href="/"><button>Back</button></a>
<a href="{{ url_for('people.addStaff') }}"><button>Add More</button></a></h2>


  <ul>
 
      <!--staff -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} Staff Members {% endblock %}</h1>
{% endblock %}



{% block content %}

{% for item in staff%}
<table class="table">
<tr>
	<td class="empno">{{item['EmpNo']}}</td>
	<td class="name">{{item['Fname']}} {{item['Minit']}}  {{item['Lname']}}</td>
	<td class="gender">{{item['Gender']}}</td>
	<td class="emptype">{{item['EmpType']}}</td>
	<td >{{item['Title']}}</td>
	<td class="view"><a href="{{ url_for('people.seeStaff',id=item['EmpNo'])}}">View</a></td>
	<td><a href="{{ url_for('people.delete',id=item['EmpNo'])}}"><button class="button is-large">Delete</button></a></td>
	
</tr>
{% endfor %}
</table>


<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  <label for="Filter By Doctor Name">Filter By Employee Type</label>

    <option value="{{ url_for('people.staffTypeFiltering',filter='ByType',empType='PHYS')}}">PHYS</option> 
    <option value="{{ url_for('people.staffTypeFiltering',filter='ByType',empType='NURS')}}">NURS</option> 
    <option value="{{ url_for('people.staffTypeFiltering',filter='ByType',empType='SURG')}}">SURG</option>
    <option value="{{ url_for('people.staffTypeFiltering',filter='ByType',empType='SUPP')}}">SUPP</option>
  </select>


{% endblock %}