<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Add Stay</h1>
  <h2><a href="/"><button>Back</button></a>

  <ul>
 
      <!--Stay -->
  </ul>
</nav>

{% block content %}
 {% for item in stay%}  
 {% endfor %}
   <form method="post">
       <label for="Patient">Patient</label>
    <select name="PatientNo" id="patientnum">
    {% for item in patient%}  
    <option value="item.PatientNo" label="{{item['Lname']}},{{item['Fname']}}">item.PatientNo</option>
    {% endfor %}
    </select>
    
     <select name="DiagnosisNo" id="diagnosis">
    {% for item in ailment%}  
     {% for item in stay%} 
      <option value="{{item['DiagnosisNo']}}" label="{{item['DiagnosisNo']}}">{{item['DiagnosisNo']}}</option>
    {% endfor %}
    {% endfor %}
    </select>

     <label for="Date">Start Date:</label>
    <input type="date" name="AdmissionDate">


    <label for="room">Room/Bed</label>
    <select name="Bed" id="bed">
   {% for item in stay%}  
    <option value="item.Bed" label="{{item.Clinic}} Wing:{{item.Wing}} Room: {{item.RoomNo}} Room/Bed: {{item.NurseUnit}}-{{item.RoomNo}}-{{item.letter}}">item.Bed</option>
    {% endfor %}
    </select>

     <select name="Physician" id="physician">
    {% for item in doctor%}  
      <option value="{{item['EmpNo']}}" label="{{item['Lname']}},{{item['Fname']}}">{{item['EmpNo']}}</option>
    {% endfor %}
    </select>

     <select name="Nurse" id="nurse">
    {% for item in assistant%}  
       <option value="{{item['EmpNo']}}" label="{{item['Lname']}},{{item['Fname']}}">{{item['EmpNo']}}</option>
    {% endfor %}
    </select>




    <input type="submit" value="Save">
  </form>
{% endblock %}