<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Add Surgery</h1>
  <h2><a href="{{ url_for('mainpg') }}"><button>Back</button></a>

  <ul>
 
      <!--Surgery -->
  </ul>
</nav>

{% block content %}


   <form method="post">
       <label for="surgeryNo">Surgery Number</label>
       <input name="surgeryNo" id="SurgeryNo" value="{{ request.form['SurgeryNo'] }}" required>

    <select name="PatientNo" id="patientNo">
    {% for item in surgery%}  
      <option value="{{request.form['PatientNo']}}">{{item['patientLast']}},{{item['patientFirst']}}</option>
    {% endfor %}
    </select>

     <select name="surgeon" id="surgon">
    {% for item in surgery%}  
      <option value="{{request.form['Surgeon']}}">{{item['staffLast']}},{{item['staffFirst']}}</option>
    {% endfor %}
    </select>

  
    <input type="submit" value="Save">
  </form>
{% endblock %}
