<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Add Surgery</h1>
  <h2><a href="/"><button>Back</button></a>
<a href="{{ url_for('people.addPatient') }}"><button>Add More</button></a></h2>
  <ul>
 
      <!--Surgery -->
  </ul>
</nav>

{% block content %}
   <form method="post">
    <td class="surgeryno">{{item['SurgeryNo']}}</td>
  <td class="patientno">{{item['PatientNo']}}({{item['patientLast']}},{{item['patientFirst']}})</td>
  <td class="physician">{{item['Surgeon']}}({{item['docLast']}},{{item['docFirst']}})</td>
  <td class="facility">{{item['clinic']}} </td>
  <td class="type">{{item['surgName']}}</td>
  <td class="time">{{item['SurgeryTime']}} </td>

  
    <input type="submit" value="Save">
  </form>
{% endblock %}
