<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Add Stay</h1>
  <h2><a href="/"><button>Back</button></a>

  <ul>
 
      <!--Stay -->
  </ul>
</nav>

{% block content %}
 {% for item in stay%}  
 {% endfor %}
   <form method="post">
       <label for="Patient">Patient</label>
    <select name="PatientNo">
    {% for item in patient%}
  
    <option value="{{item.PatientNo}}" label="{{item['Lname']}},{{item['Fname']}}">item.PatientNo</option>
  
    {% endfor %}
    </select>
    
     <label for="DiagnosisNo">Diagnosis Number</label>
        <select name="DiagnosisNo">
    {% for item in ailment%}  
   
      <option value="{{item.DiagnosisNo}}" label="{{item['DiagnosisNo']}}">{{item.DiagnosisNo}}</option>
    {% endfor %}

    </select>

     <label for="Date">Start Date:</label>
    <input type="date" name="AdmissionDate">


    <label for="room">Room/Bed</label>
    <select name="Bed" id="bed">
   {% for item in stay%}  
    <option value="{{item.Bed}}" label="{{item.Clinic}} Wing:{{item.Wing}} Room: {{item.RoomNo}} Room/Bed: {{item.NurseUnit}}-{{item.RoomNo}}-{{item.letter}}">item.Bed</option>
    {% endfor %}
    </select>

 <label for="Physician">Patient</label>
     <select name="Physician" id="physician">
    {% for item in doctor%}  
      <option value="{{item.EmpNo}}" label="{{item['Lname']}},{{item['Fname']}}">{{item['EmpNo']}}</option>
    {% endfor %}
    </select>
<label for="Nurse">Nurse</label>
     <select name="Nurse" id="nurse">
    {% for item in assistant%}  
       <option value="{{item.EmpNo}}" label="{{item['Lname']}},{{item['Fname']}}">{{item['EmpNo']}}</option>
    {% endfor %}
    </select>




    <input type="submit" value="Save">
  </form>

 <section class="section">
  <h1 class="title">Available Beds</h1>

   <table class="table is-bordered is-narrow">
     <tbody>
  <tr>
<th >Bed Code</th>
  <th >Clinic</th>  
  <th>Wing</th>
  <th>Unit</th>
  <th>Room</th>
  <th>Bed</th>
</tr>
   {% for item in available%} 
<tr>
  <td class="code">{{item.Code}}</td>

  <td class="clinic">{{item.Clinic}} </td>
  <td class="wing">{{item.Wing}} </td>
  <td class="unit">{{item.NurseUnit}} </td>
  <td class="room">{{item.RoomNo}} </td>
  <td class="bed">{{item.Bed}} </td>
</tr>
{% endfor %}
</tbody>
 </table>
{% endblock %}