<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Add Surgery</h1>
  <h2><a href="{{ url_for('mainpg') }}"><button>Back</button></a>

  <ul>
 
      <!--Surgery -->
  </ul>
</nav>

{% block content %}


   <form method="post">
      
    <select name="PatientNo" id="patientNo">
    {% for item in patient%}  
      <option value="{{request.form['PatientNo']}}">{{item['Lname']}},{{item['Fname']}}</option>
    {% endfor %}
    </select>

     <select name="Surgeon" id="surgeon">
    {% for item in doctor%}  
      <option value="{{request.form['EmpNo']}}">{{item['Lname']}},{{item['Fname']}}</option>
    {% endfor %}
    </select>

    <select name="OpTheatre" id="optheatre">
    {% for item in place%}  
      <option value="{{request.form['Code']}}">{{item['Code']}}({{item['Clinic']}}-{{item['Theatre']}})</option>
    {% endfor %}
    </select>


      <select name="SurgeryType" id="type">
    {% for item in type%}  
      <option value="{{request.form['Code']}}">{{item['Code']}}({{item['Name']}})</option>
    {% endfor %}
    </select>

     <label for="SurgeryTime">SurgeryTime</label>
    <input type="date" name="SurgeryTime">

  
    <input type="submit" value="Save">
  </form>
{% endblock %}
