<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Add Shift</h1>
 <h2><a href="{{ url_for('schedule.shiftPage') }}"><button>Back</button></a>
  <ul>
 
      <!-- Add Shift -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} Staff {% endblock %}</h1>

{% endblock %}



{% block content %}
   <form method="post">

<label for="Staff">Staff:</label>
	 <select name="EmpNo">
	{% for item in shift%}
     <option value="{{item['EmpNo']}}" label="{{item['staffLast']}},{{item['staffFirst']}}">{{item['EmpNo']}}</option>
  {% endfor %}
    </select> 

   <label for="StartDate">Start Date:</label>
    <input type="date" name="StartDate">


<label for="Shift">Shift:</label>
	 <select name="Shift">
     <option value="1" >1</option>
      <option value="2" >2</option>
      <option value="3" >3</option>
    </select> 

<input type="submit" value="Save">
</form>
{% endblock %}

