<!-- BASE HTML FILE, ALL OTHER HTMLS WILL REFER TO THIS -->
<!doctype html>
<title>{% block title %}{% endblock %} - Staffing Program</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">

<style>

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

</style>

</nav>
<section class="content">
 <section class="hero is-primary is-medium">
  <div class="hero-head">
    <nav class="navbar">
    </nav>
  </div>
  <section>
  {% block content %}
  <div class="center">
  <div class="columns is-multiline is-mobile">
      <div class="column">
        <a href="{{ url_for('people.seeAllPatients') }}"><button class="button is-large">Patient Management</button>
     
        <a href="{{ url_for('schedule.appointmentPage') }}"><button class="button is-large">Appointments</button></a>
       <a href="{{ url_for('people.seeAllStaff') }}"><button class="button is-large">Staff Management </button></a>
  </div>


    <div class="column">
    <a href="{{ url_for('schedule.surgeryPage') }}"><button class="button is-large">Surgeries</button></a>
    <a href="{{ url_for('schedule.stayPage') }}"><button class="button is-large">Inpatient Stays</button></a>
     <a href="{{ url_for('schedule.shiftPage') }}"><button class="button is-large">Shift Scheduling</button></a>
  </div>
  </div>



</section>
  {% endblock %}
