 {% block header %}
  <h1>{% block title %}New Patient{% endblock %}</h1>
  <a href="{{ url_for('people.seeAllPatients') }}"><button>Return to Patient Page</button></a>
{% endblock %}


{% block content %}

   <form method="post">

     <section class="section is-medium"> 
    <label for="name">FIRST NAME</label>
    <input name="Fname" id="fname" value="{{ request.form['Fname'] }}" required>
    <label for="name">MIDDLE INITIAL</label>
      <input name="Minit" id="minit" value="{{ request.form['Minit'] }}">
    <label for="name">LAST NAME</label>
    <input name="Lname" id="lname" value="{{ request.form['Lname'] }}" required>
    

    <label for="Gender">Gender</label>
    <select name="Gender" id="gender">
    <option value="M">M</option>
    <option value="F">F</option>
    </select>

     <label for="Pcp">Primary Care</label>
    <select name="Pcp" id="pcp">
    {% for item in physician%}
     <option value="{{item.EmpNo}}" label="{{item['Lname']}},{{item['Fname']}}">{{item['EmpNo']}}</option>
    
    {% endfor %}
    </select>
</section>
    <label for="ssn">SSN</label>
    <input name="Ssn" id="ssn" value="{{ request.form['Ssn'] }}" required>


  <label for="Dob">Birth Date:</label>
  <input type="date" id="dob" name="Dob">

 
<label for="BloodType">Blood Type</label>
    <select name="BloodType" id="bloodType">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="AB">AB</option>
    <option value="O">O</option>
    </select>


    <label for="RhFactor">RhFactor</label>
    <select name="RhFactor" id="rhfactor">
    <option value="+">+</option>
    <option value="-">-</option>
    </select>

    <section class="section is-medium">
    <label for="addr">Address</label>
    <input name="Addr" id="addr" value="{{ request.form['Addr'] }}">

    <label for="city">City</label>
    <input name="City" id="city" value="{{ request.form['City'] }}">

    <label for="stateProv">State/Providence</label>
    <input name="StateProv" id="stateProv" value="{{ request.form['StateProv'] }}">

    <label for="zip">Zip Code</label>
    <input name="ZIP" id="zip" value="{{ request.form['ZIP'] }}">

   <label for="country">Country</label>
    <input name="Country" id="country" value="{{ request.form['Country'] }}">

    <label for="phone">Phone</label>
    <input name="Phone" id="phone" value="{{ request.form['Phone'] }}">
</section>

    <input type="submit" value="Save">
  </form>
{% endblock %}
