<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>

	<section class="hero is-small is-primary">
  <div class="hero-body" >
    <p class="title has-text-black">
      Newark Medical </p>  
      Patient Management > View

  </div>
</section> 
    <ul>
 
      <!--patient -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} Patient No.{{item['PatientNo']}} ({{item['Fname']}} {{item['Minit']}} {{item['Lname']}})  {% endblock %}</h1>

<h2><a href="{{ url_for('people.seeAllPatients')}}"><button class="button is-large">Back</button></a></h2>

{% endblock %}



{% block content %}
<div class="block">
<div class="columns is-multiline is-mobile">

<div class="column is-one-quarter">
<p>First Name: {{item['Fname']}}</p>
<p>Middle Initial: {{item['Minit']}}</p>
<p>Last Name: {{item['Lname']}}</p>


<p>SSN: {{item['Ssn']}}</p>
<p>DOB: {{item['Dob']}}</p>
<p>Gender: {{item['Gender']}}</p>

		
<p>Primary Physician: {{item['Pcp']}}</p>

<p>Gender: {{item['Gender']}}</p>

<p>Blood Type: {{item['BloodType']}}</p>

<p>Rh Factor: {{item['RhFactor']}}</p>
</div>


<div class="column is-narrow">
      <p>Address: {{item['Addr']}}</p>
<p>City: {{item['City']}}</p>
<p>State/Prov: {{item['StateProv']}}</p>

		
<p>ZIPCODE: {{item['ZIP']}}</p>
<p>Country: {{item['Country']}}</p>
<p>Phone: {{item['Phone']}}</p>

  </div>
  </div>
   </div>


<section class="section">
  <h1 class="title">Allergies</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>


<section class="section">
  <h1 class="title">Illnesses</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>


<section class="section">
  <h1 class="title">Appointments</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>

<section class="section">
  <h1 class="title">Inpatient Stays</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>

<section class="section">
  <h1 class="title">Surgeries</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>
{% endblock %}