<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Patient Management</h1>
  <h2><a href="/"><button>Back</button></a>
<a href="{{ url_for('people.addPatient') }}"><button>Add More</button></a></h2>
  <ul>
 
      <!--patient -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} Patients {% endblock %}</h1>

{% endblock %}



{% block content %}

{% for item in patient%}
<table class="table is-bordered is-narrow">

 <tbody>

 	<tr>
<th >Patient Number</th>
	<th >First Name</th>	
	<th>Middle Name</th>
	<th >Last Name</th>
	<th >Gender</th>
	<th >DOB</th>
	<th >SSN</th>
	<th >Action</th>
 	</tr>
<tr>
	<td class="patientno">{{item['PatientNo']}}</td>
	<td class="name">{{item['Fname']}} </td>
	<td class="name">{{item['Minit']}} </td>
	<td class="name">{{item['Lname']}} </td>
	<td class="gender">{{item['Gender']}}</td>
	<td class="dob">{{item['Dob']}}</td>
  <td class="ssn">{{item['Ssn']}}</td>
  <td class="view"><a href="{{ url_for('people.seePatient',id=item['PatientNo'])}}">View</a></td>
	
	<td><a href="{{ url_for('people.delete',id=item['PatientNo'])}}"><button class="button is-large">Delete</button></a></td>
</tr>
</tbody>
{% endfor %}

</table>
{% endblock %}