
<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
<nav>
  <h1>Patient Management</h1>
  <h2><a href="/"><button>Back</button></a>
<a href="{{ url_for('people.addOne') }}"><button>Add More</button></a></h2>
  <ul>
 
      <!--staff -->
  </ul>
</nav>

{% block header %}
<h1>{% block title %} Staff Members {% endblock %}</h1>
{% endblock %}



{% block content %}

{% for item in staff%}
<table class="table">
<tr>
	<td class="empNo">{{item['EmpNo']}}</td>
	<td class="name">{{item['Fname']}}{{item['Lname']}}</td>
	<td class="gender">{{item['Gender']}}</td>
	<td class="empstatus">{{item['EmpStatus']}}</td>
	<td class="emptype">{{item['EmpType']}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}